<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weathers-app</title>

    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
</head>

<body>
    <span class="add-margin lm-generic large-txt"> {{ title }} </span>
</body>

</html>