<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>weathers-app</title>

  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
</head>

<body>
  <div class="add-margin lm-generic menu">
    <h1 class="add-margin lm-generic light-emph-txt">{{ title }}</h1>
    <form id="search-bar" action="/result">
      <input class="add-margin lm-generic" type="text" placeholder="Search" />
    </form>
  </div>
  <script src="/js/client.js"></script>
</body>

</html>
