@import "variables";

html,
body {
  margin: 0;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

body {
  background-color: $back-color;
}
.butt-txt {
  color: $butt-txt;
  margin: auto;
}
.light-emph-txt {
  color: $light-txt-color;
}
.no-emph-txt {
  color: $norm-txt-color;
}
.reg-emph-txt {
  color: $pri-color;
}
.semi-emph-txt {
  color: $pri-color-semi-bold;
}
.bold-emph-txt {
  color: $pri-color-bold;
}
.mini-txt {
  font-size: 12px;
  line-height: 18px;
}
.norm-txt {
  font-size: 14px;
  line-height: 21px;
}
.semi-large-txt {
  font-size: 18px;
  line-height: 27px;
}
.large-txt {
  font-size: 24px;
  line-height: 36px;
}
.add-margin {
  margin: 5px;
}

.bold-txt {
  font-weight: bold;
}
a {
  &:link,
  &:visited {
    color: $pri-color;
    text-decoration: none;
  }
  &:hover {
    color: $pri-color-semi-bold;
  }
  &:active {
    opacity: 0.5;
  }
}
.top-panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background-color: $front-color;
  border: 1px solid $pri-border;
}
.bottom-panel {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bottom-panel a {
  width: 100px;
  text-align: center;
}
.butt-generic {
  border: none;
  background-color: $butt-color;
  height: 32px;
  transition: 0.2s;

  display: flex;
  align-items: center;

  // -webkit-transform-style: preserve-3d;
  // -webkit-backface-visibility: hidden;

  cursor: pointer;

  &:hover {
    background-color: $pri-color-semi-bold;
  }
  &:active {
    background-color: $pri-color-bold;
  }
}
.lm-generic {
  font-family: $def-font;
  border-radius: 16px;
}
.menu {
  position: absolute;
  top: 60px;
  border: 1px solid $pri-border;
  border-radius: 50px;
  width: 500px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.weather-logo {
  width: 200px;
  height: 200px;
}
.span-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.span-container span {
  width: 100%;
}
.result {
  height: 350px;
}
form {
  position: absolute;
  bottom: 30px;
  height: 20px;
  width: 50%;
  box-sizing: border-box;
}
input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: $inp-cursor;
  vertical-align: middle;
  background-color: $inp-back;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid $pri-border;
  outline: none;
  &:focus {
    background-color: #f8f8f8;
  }
  background-image: url("/assets/search.svg");
  background-position: 10px;
  width: 100%;
  padding: 5px 35px;
  box-sizing: border-box;
}
