html,
body {
  margin: 0;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: #f9f9f9;
}

.butt-txt {
  color: #fff;
  margin: auto;
}

.light-emph-txt {
  color: #7e7777;
}

.no-emph-txt {
  color: #363636;
}

.reg-emph-txt {
  color: #0095f6;
}

.semi-emph-txt {
  color: #0065a8;
}

.bold-emph-txt {
  color: #024069;
}

.mini-txt {
  font-size: 12px;
  line-height: 18px;
}

.norm-txt {
  font-size: 14px;
  line-height: 21px;
}

.semi-large-txt {
  font-size: 18px;
  line-height: 27px;
}

.large-txt {
  font-size: 24px;
  line-height: 36px;
}

.add-margin {
  margin: 5px;
}

.bold-txt {
  font-weight: bold;
}

a:link, a:visited {
  color: #0095f6;
  text-decoration: none;
}

a:hover {
  color: #0065a8;
}

a:active {
  opacity: 0.5;
}

.top-panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background-color: #f3f3f3;
  border: 1px solid #cccccc;
}

.bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.bottom-panel a {
  width: 100px;
  text-align: center;
}

.butt-generic {
  border: none;
  background-color: #1a96da;
  height: 32px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.butt-generic:hover {
  background-color: #0065a8;
}

.butt-generic:active {
  background-color: #024069;
}

.lm-generic {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  border-radius: 16px;
}

.menu {
  position: absolute;
  top: 60px;
  border: 1px solid #cccccc;
  border-radius: 50px;
  width: 500px;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.weather-logo {
  width: 200px;
  height: 200px;
}

.span-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.span-container span {
  width: 100%;
}

.result {
  height: 350px;
}

form {
  position: absolute;
  bottom: 30px;
  height: 20px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #cccccc;
  outline: none;
  background-image: url("/assets/search.svg");
  background-position: 10px;
  width: 100%;
  padding: 5px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  background-color: #f8f8f8;
}
/*# sourceMappingURL=base.css.map */