<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weathers-app</title>

    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
</head>

<body>
    <div class="add-margin lm-generic menu result">
        <div id="icon" class="weather-logo"></div>
        <div class="span-container">
            <span id="region" class="semi-large-txt"></span>
            <span id="timezone" class="semi-large-txt"></span>
            <span id="time" class="semi-large-txt"></span>
            <span id="desc" class="semi-large-txt"></span>
            <span id="humidity" class="semi-large-txt"></span>
        </div>

    </div>
    <script src="/js/result.js"></script>

</body>

</html>